@charset "utf-8";
/* CSS Document */
.wrapper {
	width:100%;
	margin:auto;
   overflow: hidden;
}

.main {
	width:100%;
}


html, body {
    background: none repeat scroll 0 0 #FFF;
    color: #ffffff;
    font-family: "bettyregular";
    font-size: 14px;
    font-weight: 400;
    height: 100%;/* remove for chrome scroll issus, will target ff only*//*or add exlusion to chrome below*/
    min-height: 100%;
    /*overflow: hidden;*/
    width: 100%;
    max-width: 1280px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
  html, body { height: auto; }  
}

.bgres { /*general class instead of listing all elements*/
    /* Background image is centered vertically and horizontally at all times */
    background-position: center bottom;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
/*    background-attachment: fixed;*/
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}


.stripe-5 {
/*  color: white;
  background: repeating-linear-gradient(55deg,#222,#222 10px,#333 10px,#333 20px);*/ 
    background: rgba(233,202,1,1);
    background: -moz-linear-gradient(-45deg, rgba(233,202,1,1) 0%, rgba(255,230,0,1) 8%, rgba(233,202,1,1) 13%, rgba(255,230,0,1) 20%, rgba(233,202,1,1) 30%, rgba(255,230,0,1) 37%, rgba(233,202,1,1) 43%, rgba(255,230,0,1) 48%, rgba(233,202,1,1) 53%, rgba(255,230,0,1) 57%, rgba(233,202,1,1) 63%, rgba(255,230,0,1) 68%, rgba(233,202,1,1) 72%, rgba(255,230,0,1) 77%, rgba(233,202,1,1) 82%, rgba(255,230,0,1) 87%, rgba(233,202,1,1) 91%, rgba(255,230,0,1) 95%, rgba(255,230,0,1) 100%);
    /*background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(233,202,1,1)), color-stop(8%, rgba(255,230,0,1)), color-stop(13%, rgba(233,202,1,1)), color-stop(20%, rgba(255,230,0,1)), color-stop(30%, rgba(233,202,1,1)), color-stop(37%, rgba(255,230,0,1)), color-stop(43%, rgba(233,202,1,1)), color-stop(48%, rgba(255,230,0,1)), color-stop(53%, rgba(233,202,1,1)), color-stop(57%, rgba(255,230,0,1)), color-stop(63%, rgba(233,202,1,1)), color-stop(68%, rgba(255,230,0,1)), color-stop(72%, rgba(233,202,1,1)), color-stop(77%, rgba(255,230,0,1)), color-stop(82%, rgba(233,202,1,1)), color-stop(87%, rgba(255,230,0,1)), color-stop(91%, rgba(233,202,1,1)), color-stop(95%, rgba(255,230,0,1)), color-stop(100%, rgba(255,230,0,1)));*/
    background: -webkit-linear-gradient(135deg, rgba(233,202,1,1) 0%, rgba(255,230,0,1) 5%, rgba(233,202,1,1) 10%, rgba(255,230,0,1) 15%, rgba(233,202,1,1) 20%, rgba(255,230,0,1) 25%, rgba(233,202,1,1) 30%, rgba(255,230,0,1) 35%, rgba(233,202,1,1) 40%, rgba(255,230,0,1) 45%, rgba(233,202,1,1) 50%, rgba(255,230,0,1) 55%, rgba(233,202,1,1) 60%, rgba(255,230,0,1) 65%, rgba(233,202,1,1) 70%, rgba(255,230,0,1) 75%, rgba(233,202,1,1) 80%, rgba(255,230,0,1) 85%, rgba(255,230,0,1) 90%, rgba(255,230,0,1) 95%, rgba(255,230,0,1) 100%);   
    background: -ms-linear-gradient(135deg, rgba(233,202,1,1) 0%, rgba(255,230,0,1) 5%, rgba(233,202,1,1) 10%, rgba(255,230,0,1) 15%, rgba(233,202,1,1) 20%, rgba(255,230,0,1) 25%, rgba(233,202,1,1) 30%, rgba(255,230,0,1) 35%, rgba(233,202,1,1) 40%, rgba(255,230,0,1) 45%, rgba(233,202,1,1) 50%, rgba(255,230,0,1) 55%, rgba(233,202,1,1) 60%, rgba(255,230,0,1) 65%, rgba(233,202,1,1) 70%, rgba(255,230,0,1) 75%, rgba(233,202,1,1) 80%, rgba(255,230,0,1) 85%, rgba(255,230,0,1) 90%, rgba(255,230,0,1) 95%, rgba(255,230,0,1) 100%);   
   
    background: linear-gradient(135deg, rgba(233,202,1,1) 0%, rgba(255,230,0,1) 5%, rgba(233,202,1,1) 10%, rgba(255,230,0,1) 15%, rgba(233,202,1,1) 20%, rgba(255,230,0,1) 25%, rgba(233,202,1,1) 30%, rgba(255,230,0,1) 35%, rgba(233,202,1,1) 40%, rgba(255,230,0,1) 45%, rgba(233,202,1,1) 50%, rgba(255,230,0,1) 55%, rgba(233,202,1,1) 60%, rgba(255,230,0,1) 65%, rgba(233,202,1,1) 70%, rgba(255,230,0,1) 75%, rgba(233,202,1,1) 80%, rgba(255,230,0,1) 85%, rgba(255,230,0,1) 90%, rgba(255,230,0,1) 95%, rgba(255,230,0,1) 100%); 
}

.header {
    /* Location of the image */
    /*height: 55px;*/
}

.header .leftside {
    vertical-align: top;
    width: 78.9%;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

.header .leftside::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -62px;
    background: transparent url("../resources/images/curveleft.png") no-repeat scroll 0% 0% / cover;
    width: 100%;
    height: 100%;
}


.header .rightside {
    width: 21.0938%;
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 100%;
    background-color: #EAEAEA;
}

.header .rightside::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -99px;
    width: 100%;
    background: transparent url("../resources/images/curveright.png") no-repeat scroll 0% 0% / cover;
    height: 100%;
}


ul.uls.sharesocial {
    margin-top: 15px;
    margin-left: 10px;
}

.uls > li {
    display: inline;
}

a.links {
    background-position: center;
    background-size: auto;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 10px;    
    display: inline-block;
}

a.links.facebook {
    background: url("../resources/images/header_fb_link.png");
}

a.links.youtube {
    background: url("../resources/images/header_yt_link.png");
}

a.links.twitter {
    background: url("../resources/images/header_tw_link.png");
}

a.cosmote {
    background-position: center;
    background-size: auto;
    width: 85px;
    height: 95px;
    display: inline-block;
    background: url("../resources/images/header_logo.png");
    text-indent:-9999px;
    margin-left: 12%;
    margin-top: 10px;
}

.section1 {
    /* Location of the image */
    background-image: url(../resources/images/section1_bg.jpg);
    height: 646px;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 0;
}

/* Site Wrapper - Everything that isn't navigation */
.burgermenu {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 27%;/*    min-width: 100%;*/
    background-color: white; /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 100%;/*0*/
    z-index: 1;
    width: 21.0938%;/*249px;*/
    
    /* non-critical apperance styles */
    padding: 8em 4em 4em 2%;
    background: black;
    /*background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);*/
    background-size: 200%;
}

/* Nav Trigger */
.burgertoggle {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="burgertoggle"] {
    /* critical positioning styles */
    position: absolute;
    /*left: 15px; */
    left : 78.9062%;
    top: 70px;
    z-index: 2;

    /* non-critical apperance styles */
    height: 30px;
    width: 47px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
    background-position: top;
}

.burgertoggle:checked + label[for="burgertoggle"]::before {
    content: "MENU";
    font-size: 160%;
    left: 0px;
    position: absolute;
    top: -32px;
    font-family: "pf_handbook_problack";
}

/* Make the Magic Happen */
.burgertoggle + label, .burgermenu {
    transition: left 0.2s;
}

.burgertoggle:checked + label {
    left: 81%;
    background-image: url("../resources/images/burgermenuontillsvg.png");
    background-repeat: no-repeat;
}

.burgertoggle:checked ~ .burgermenu {
    left: 78.9%;
    /*box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);*/
}

/* // TODO: check if this is really necessary, might interfere with other stuff, might be set already (most likely
*/
body, html  {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
    /*also probably need to add these, also the html element above*/
    width:100%;
    max-width:100%;
    -webkit-overflow-scrolling: touch;
}

/* Additional non-critical styles */
/*h1, h3, p {
    max-width: 600px;
    margin: 0 auto 1em;
}*/
/*
code {
    padding: 2px;
    background: #ddd;
}
*/
/*END OF BURGER MENU FUNCTIONALITY*/
/*BURGER MENU ITEMS*/
ul.burgeritems {
    width: 70%;
    min-width: 10%;
    max-width: 80%;
    line-height: 22px;
    font-family: "PFHandbookPro_Medium";
    font-size: 100%;
}

ul.burgeritems a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "pf_handbook_promedium","pf_handbook_problack";
    font-size: 160%;
  

}

ul.burgeritems  a:hover {
    color:  #FFFFFF;
}

ul.burgeritems a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFE800;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

ul.burgeritems a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*BURGER MENU STUFF*/
ul.banners {
    margin:-575px 0px 45px 10%;
}

ul.banners > li:first-child > span:first-child {
    font-family: "pf_handbook_problack", serif;
    font-size: 450%;
     line-height: 30px;
}

ul.banners > li:first-child > span:nth-child(5){
    font-family: "pf_handbook_problack", serif;
    font-size: 200%;
    line-height: 30px;
}

ul.banners > li:first-child > span:nth-child(3), ul.banners > li:first-child > span:nth-child(7) {
    font-family: "pf_handbook_promedium", serif;
    font-size: 200%;
     line-height: 10px;
}

.banners > li {
    display: inline-block;
    width: 141px;
    height: 156px;
    vertical-align: top;
    padding: 20px 10px 0;
    line-height: 16px
}

.banners > li:first-child {
    background-color: #fee600;
    margin: 0px 12px 12px 0px;
    color: #000;
}

.banners > li:last-child {
/*        padding: 0;*/
}

.banners > li + li {
    background-color: #000;
    height: 140px;
    padding-top: 35px;
}

.banners > li + li > span:first-child, .banners > li + li > span:nth-child(3) {
    font-family: "pf_handbook_problack", serif;
    font-size: 200%;
    line-height: 25px;
}

.banners > li + li > span:nth-child(3) {
    letter-spacing: 3px;
}
.banners > li + li > span:nth-child(5) {
    font-family: "pf_handbook_promedium", serif;
    font-size: 150%;
    line-height: 20px;
}

.banners > li + li > h2 {
    height: 10px;
    margin-top: 33px;
    padding: 0;
    width: 140px;
    margin-left: -10px;
}

.banners > li > p {
    display: inline-block;
}

span.maintext {
    display: inline-block;
    text-align: center;
    /*margin: 100px 0% 0% 38%;*/
    width: 100%;
}

span.maintext > span:first-child, span.maintext > span:nth-child(3), span.maintext > span:nth-child(4){
    font-family: "pf_handbook_problack", serif;
    font-size: 280%;   
    margin-top: -10px;
    display: inline-block;
}

span.maintext > span:nth-child(6), span.maintext > span:nth-child(8), span.maintext > span:nth-child(10), span.maintext > span:nth-child(12), span.maintext > span:nth-child(14){
    font-family: "pf_handbook_prolight", serif;
    font-size: 140%;
}

span.maintext > span:nth-child(6) {
     font-size: 230%;   
    margin-bottom: 8px;
    display: inline-block;
}

span.maintext  > span:nth-child(3) {
    color: #ffe800;
}


span.arrow-down-img {
    background: url("../resources/images/section1_arrow.png") center no-repeat;
    height: 78px;
    display: block;
    text-align: center;
    color: black;
    cursor: pointer;    
    font-family: "pf_futura_neu_condbold";
    margin-top: 60px;
}

span.arrow-down-img > a {
    text-decoration: none;
    margin-top: 2px;
    display: inline-block;
    color: black;
}
span.arrow-down-img > a > span:first-child {
    font-family: "pf_futura_neu_condbold", serif;    
    font-size: 200%;
    font-weight: 800;
}

span.arrow-down-img > a > span:last-child {
    font-family: "pf_futura_neu_condmedium", serif; 
    font-size: 150%;   
}

/*I ALSO HAVE THE FUCKING TRIANGLE!!!*******/
/*Down pointing*/
.triangle-down {
	width: 10%;
	height: 0;
	padding-left:10%;
	padding-top: 10%;
	overflow: hidden;
}
.triangle-down:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left:-500px;
	margin-top:-500px;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-top: 500px solid #4679BD;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}
/*END OF TRIANGLE*/

.section4 {
   background-image: url("../resources/images/section4_bg.jpg");
   height: 650px;
   padding-top: 188px;
}

.section4 > .endtext {
    color: #FFF;
    max-width: 45%;
    font-family: "pf_handbook_prolight";
}

.endtext > p:first-child {
    font-family: "pf_handbook_problack";
    color: black;
    margin-bottom: 40px;
    font-size: 380%;
}

.endtext > span.blackerKeys {
    font-family: "pf_handbook_problack";
    line-height: 20px;
        
}

.endtext sup {
    position: relative;
    top: -5px;
    font-size: 80%;       
}

.footer {
    background-color: #000;
   width: 100%;
    padding: 20px;
}

.footer > span > a {
    font-family: "pf_handbook_promedium";
    font-size: 100%;
    color : #aea9a9;
}

.endtext > a  {
    color: #fff;
}

/*END OF FOOTER*/

/*POP-UP STUFF*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 0px auto;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 7;
}

.popup h2 {
    color: #fff;
    position: absolute;
    top: 27px;
    left: 55px;
    font-family: "pf_futura_neu_condbold";
    font-weight: 600;
    font-size: 100%;
	   z-index: 22;
}
.popup .close {
    position: absolute;
    top: 20px;
    left: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fee600;
	   z-index: 21;
}

.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 100%;
    overflow: auto;
    height: 100%;
}

.popup .c1 {
    background-image: url("../resources/images/popup_bg1.jpg");
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.popup .c2 {
    /*background-image: url("../resources/images/popup_bg2.jpg");*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content > .c1 > div {
    width: 100%; height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 2s ease-in-out 0s;
    text-align: center;
    /*position: relative;
    top: 0px;
    left: 0px;*/ /* this interferes with the click on the close among other, but not sure how the elements will be positioned */
}
.content > .c1 > div:first-child {
    background-image: url('../resources/images/popup_screen1_1.png');
}

.content > .c1 > div+div {
    /*background-image: url('../resources/images/popup_screen1_1.png');*/
    background-color: transparent;;
}

.content > .c1 > div+div+div {
    background-image: url('../resources/images/upload_step3.png');
    background-color: transparent;
}

span#fileupload {
    width: 161px;
    height: 100px;
    display: inline-block;
    background-color: transparent;
    position: relative;
    top: 58%;
    cursor: pointer;
}

form.dropzone {
    position: relative;
    top: 30%;
    margin: auto;
    /*width: 50%;*/
    /*width: 320px;/* trying to center the texts with the image in the preview*/
    width: 100%;/* this does not necessarily align, but makes a nothing responsive thing... maybe position relatively the text and be done with it*/
   color : #fff; 
   line-height: 33px;
}

form input {
    margin: 10px;
}

img.data-dz-thumbnail {
    width: 140%;
    max-width: 320px;
}

button[name=submitall] {
    border: medium none;
    width: 161px;
    height: 77px;
    background: transparent none repeat scroll 0% 0%;
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: #000;
    font-family: black_betty_regular;
    font-size: 18pt;
}

button[name=submitall] > span {
}

button[name=submitall]::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    background: url('../resources/images/section1_arrow.png') 0 0 repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media screen and (max-width: 700px){
    .boxx{
        width: 100%;
    }
    .popup{
        width: 100%;
    }
}
/*END OF POPUPSTUFF*/

/*gallery*/

.swipebox img {
<<<<<<< HEAD
=======
    /*transition: all 0.9s ease-in-out 0s;*/
>>>>>>> 985298825149f72119cd481985b5c23b3d201b24
    z-index: 4;
}

.swipebox img:hover {
<<<<<<< HEAD
     transform: rotateY(180deg);  
    filter: url("data:image/svg+xml;utf8,<svg width='161' height='161' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid meet'><metadata>Created by potrace 1.11, written by Peter Selinger 2001-2013</metadata> <g><title>Layer 1</title><g id='svg_1' fill='#000000' transform='translate(0.000000,161.000000) scale(0.100000,-0.100000)'><path id='svg_2' d='m816,1313c-3,-3 -6,-34 -6,-69c0,-60 -1,-63 -34,-83c-41,-25 -43,-26 -49,-3c-3,11 -5,8 -6,-9c-1,-24 -36,-59 -58,-59c-4,0 -28,36 -53,80c-42,75 -60,95 -60,69c0,-6 21,-45 46,-87l46,-76l-24,-18c-29,-22 -54,-23 -67,-1c-5,10 -13,15 -17,10c-4,-4 1,-16 10,-26c18,-19 17,-21 -15,-40l-33,-20l-64,34c-34,19 -67,35 -72,35c-24,0 -5,-17 50,-48c33,-18 60,-34 60,-36c0,-3 -28,-22 -62,-44c-35,-21 -103,-65 -152,-97l-88,-58l123,-79c68,-44 132,-88 141,-98c16,-17 14,-19 -33,-44c-27,-15 -49,-31 -49,-37c0,-14 7,-12 70,24c58,31 60,32 87,15c21,-13 27,-24 25,-42c-2,-20 1,-24 13,-20c8,3 15,10 15,15c0,11 55,-16 64,-30c4,-5 -12,-41 -35,-80c-22,-39 -39,-77 -36,-83c2,-7 18,12 35,42c18,30 40,66 50,79c19,23 19,23 46,6c18,-12 26,-24 23,-37c-6,-20 3,-24 20,-7c8,8 21,4 46,-12c33,-22 35,-27 35,-75c0,-28 3,-57 6,-63c12,-18 26,-2 26,29c0,15 6,31 13,33c9,4 9,6 0,6c-26,2 -14,46 17,65c26,15 34,15 47,5c13,-11 15,-11 11,6c-3,14 6,27 29,43c17,12 36,22 40,22c5,0 24,-28 42,-62c42,-77 51,-89 62,-83c4,3 -12,40 -37,83l-46,76l23,18c20,17 24,17 45,3c25,-16 30,-10 15,15c-7,10 -1,20 24,37c19,13 38,23 42,23c5,0 39,-16 77,-36c39,-21 67,-31 64,-23c-4,12 -35,34 -85,60c-13,7 -23,15 -23,18c0,4 63,47 140,96c108,69 137,92 128,100c-7,7 -75,51 -150,100c-76,48 -138,89 -138,91c0,2 27,18 60,36c56,31 74,48 50,48c-5,0 -38,-15 -72,-34c-58,-33 -63,-34 -90,-20c-31,16 -34,24 -16,42c18,18 0,27 -20,9c-16,-15 -20,-14 -50,5c-17,11 -30,23 -28,26c2,4 22,40 45,80c23,40 41,78 38,85c-2,6 -12,-2 -22,-18c-10,-17 -31,-49 -46,-73c-16,-23 -29,-47 -29,-52c0,-14 -17,-12 -44,5c-16,11 -22,22 -19,35c6,21 -13,28 -19,8c-3,-8 -16,-5 -41,11c-36,22 -37,24 -37,86c0,59 -8,83 -24,68z'/></g></g></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
=======
    /*transition: all 0.4s ease-in-out 0s;*/
    transform: rotateY(180deg);  
    z-index: 1;
    /*transform: scaleX(-1);
    background-color: rgba(255,255,255,0.4);
    /animation: fliplarge;*/   
}

.swiper-slide {
    transition: all 1s linear 0s;
}
>>>>>>> 985298825149f72119cd481985b5c23b3d201b24

}    

<<<<<<< HEAD
=======
.swiper-slide:hover:before {
    content: "";
    background: url("../resources/images/gallerysplash.png");
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s linear 0s;
	pointer-events: none;
   }
>>>>>>> 985298825149f72119cd481985b5c23b3d201b24
